<h1>Battle!</h1>
<h2>Enter your names to play</h2>
<form action="/names" method="post">
  <label for="player_1_name" style="color:red;">
    Player 1 Name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_2_name">
    Player 2 Name
    <input type="text" name="player_2_name">
  </label>
  <input type="submit" value="Submit">
</form>
